html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
}

.yellow{
    background-color: yellow;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.text-dark{
    color: black;
}